{{define "header"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>小豆豆博客</title>
    <meta name="description" content="描述" />
    <meta name="keywords" content="关键词" />
    <link rel="stylesheet" href="/asset/css/init.css">
    <link rel="stylesheet" href="/asset/css/main.css">
    <link rel="stylesheet" href="/asset/lib/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/asset/lib/font-awesome/css/font-awesome.min.css">
    <script src="/asset/js/jquery-3.3.1.min.js"></script>
    <script src="/asset/lib/bootstrap/dist/js/bootstrap.min.js"></script>
</head>
<body>
<div id="top"></div>
<nav class="navbar navbar-expand-md navbar-light bg-light mb-4" style="border-bottom: 1px #efefef solid;">
    <div class="container">
        <a class="navbar-brand" href="/" style="font-weight: bold;color: #EB6F5A">小豆豆</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/tool">工具</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
{{end}}
