{{template "header" .}}
<style>
    textarea {
        width: 100%;
        outline: none;
        border: 1px solid #999;
        resize: none;
        height: 200px;
        padding: 10px;
        color: #666;
        font-size: 14px;
    }

    .t-btn {
        margin-bottom: 10px;
        line-height: 36px;
        height: 36px;
        width: 100%;
        border: 0;
        border-radius: 2px;
        color: #fff;
        font-size: 14px;
        background: #F69281;
        outline: none;
        cursor: pointer;
    }

    .t-input {
        padding: 5px;
        margin-top: 40px;
        border: 0;
        border-bottom: 1px solid #999;
        outline: none;
        width: 100%;
        color: #666;
        font-size: 14px;
    }
</style>
<main role="main" class="container">
    <div class="row">
        <div class="col-md-12">
            <h4>MD5 加密/解密</h4>
            <hr>
        </div>

        <div class="col-md-5">
            <textarea id="input" placeholder="内容输出..."></textarea>
        </div>
        <div class="col-md-2" style="line-height: 100px;">
            <input type="submit" class="t-btn" value="加密" onclick="encode()">
            <input type="submit" class="t-btn" value="解密" onclick="decode()">
        </div>
        <div class="col-md-5">
            <textarea id="output" placeholder="结果输出..."></textarea>
        </div>

        <div class="col-md-3">
            <input type="text" class="t-input" id="put-1" placeholder="32位小写">
        </div>
        <div class="col-md-3">
            <input type="text" class="t-input" id="put-2" placeholder="32位小写">
        </div>
        <div class="col-md-3">
            <input type="text" class="t-input" id="put-3" placeholder="16位小写">
        </div>
        <div class="col-md-3">
            <input type="text" class="t-input" id="put-4" placeholder="16位大写">
        </div>

    </div>
</main>

<script>
    function encode() {
        var data = {
            "type": "md5",
            "value": $("#input").val()
        };
        $.post("/tool/encode", data, function (res) {
            $("#output").text("");
            $("#put-1").val("");
            $("#put-2").val("");
            $("#put-3").val("");
            $("#put-4").val("");
            if (res.code === 0) {
                $("#output").text(res.data.Lower32);
                $("#put-1").val(res.data.Lower32);
                $("#put-2").val(res.data.Upper32);
                $("#put-3").val(res.data.Lower16);
                $("#put-4").val(res.data.Upper16);
            } else {
                alert(res.msg)
            }
        })
    }

    function decode() {
        $("#output").text("");
        $("#put-1").val("");
        $("#put-2").val("");
        $("#put-3").val("");
        $("#put-4").val("");
        var data = {
            "type": "md5",
            "value": $("#input").val()
        };
        $.post("/tool/decode", data, function (res) {
            if (res.code === 0) {
                $("#output").text(res.data.Content);
            } else {
                alert(res.msg)
            }
        })
    }

</script>

{{template "footer" .}}
